services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: sncb_user
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: sncb_timing
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
          
  backend:
    build:
      context: ./backend
    ports:
      - "4000:4000"
    networks:
      - app-network
    restart: always
      
  frontend:
    build:
      context: ./frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

  cronjob:
    build:
      context: ./cronjob
    depends_on:
      - backend
    networks:
      - app-network
      restart: always

      
networks:
  app-network:
    driver: bridge
      
volumes:
  postgres_data:
